body {
  font-family: "Electrolize", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(109, 100, 209);
}

header {
  background-color: rgb(13, 10, 46);
}

footer {
  background-color: rgb(13, 10, 46);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.search {
  background-color: rgb(109, 100, 209);
}

@media (max-width: 576px) {
  body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 2fr 1fr 8fr 2fr 1fr;
    grid-template-areas:
      "header"
      "bar"
      "main"
      "select"
      "footer";
  }

  header {
    grid-area: header;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    font-size: large;
  }

  .search {
    grid-area: bar;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    width: 100%;
  }

  .search h3 {
    align-self: center;
    margin-bottom: 1%;
  }

  select {
    align-self: center;
    width: 70vh;
  }

  .card {
    padding: 5%;
    width: 60vh;
  }

  main {
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
    grid-area: main;
    background-color: aliceblue;
  }

  #card_mobile {
    display: flex;
    color: aliceblue;
    background-color: black;
    width: 100vh;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(109, 100, 209);
    margin: 7vh;
    margin-bottom: 2px;
  }

  #card_mobile button {
    color: aliceblue;
    padding: 2vh;
  }

  #card_desktop {
    display: none;
  }

  img {
    width: 60vh;
  }

  .card h2 {
    margin: 0;
  }

  .select_pag {
    display: flex;
    margin: 2vh;
    width: 95vh;
    grid-area: select;
    justify-content: center;
  }

  .select_pag .material-symbols-outlined {
    font-variation-settings: "FILL" 200, "wght" 700, "GRAD" 0, "opsz" 48;
    width: 10%;
  }

  footer {
    grid-area: footer;
    display: flex;
    position: fixed;
    bottom: 0;
    color: aliceblue;
    flex-direction: column;
    width: 100vh;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    margin-bottom: 0;
  }
  menu {
    align-self: center;
    padding-right: 5%;
  }

  .menu_responsive {
    display: none;
  }

  .logo {
    padding-left: 3%;
    align-items: center;
    display: flex;
  }
}

@media (min-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 13fr 2fr;
    grid-template-areas:
      "header nav nav"
      "header main main"
      "footer main main";
  }

  main {
    margin: 1vh;
    padding: 1%;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    row-gap: 1%;
    column-gap: 1%;
  }

  img {
    width: 10rem;
  }
  header {
    grid-area: header;
    position: fixed;
    color: aliceblue;
    align-items: left;
    justify-content: start;
    width: 15%;
    height: 100vh;
  }

  menu {
    display: flex;
    align-items: start;
  }

  header h1 {
    font-size: medium;
  }
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    display: flex;
    padding: 7%;
  }
  a {
    text-decoration: none;
    color: aliceblue;
    
  }
  .catalogo > ul {
    display: none;
    padding-left: 1px;
}

  a:hover {
    color: rgb(109, 100, 209);
    font-size: large;
}
li:hover {
  color: rgb(109, 100, 209);
  font-size: large;
}

.catalogo:hover > ul {
  display: flex;
  color: aliceblue;
}

  .search {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 2%;
  }

  .search h3 {
    align-self: center;
    justify-content: center;
    margin-bottom: 1%;
  }

  select {
    align-self: center;
    width: 70vh;
    padding-left: 14%;
  }
  .card {
    display: flex;
    color: aliceblue;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(109, 100, 209);
    padding-bottom: 2vh;
  }

  #card_mobile {
    display: none;
  }

  .card h2 {
    font-size: medium;
    margin: 0;
  }

  .select_pag {
    display: none;
  }

  footer {
    position: fixed;
    color: aliceblue;
    width: 13%;
    bottom: 0;
    grid-area: footer;
    font-size: smaller;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    margin: 0;
  }

  #menu_mobile {
    display: none;
  }
  menu {
    padding: 0;
  }
  .menu_responsive {
    display: flex;
  }

  .logo {
    padding-left: 3%;
    align-items: center;
    display: flex;
  }
}
