body {
  font-family: "Electrolize", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(109, 100, 209);
}

header {
  background-color: rgb(13, 10, 46);
}

footer {
  background-color: rgb(13, 10, 46);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.search {
  background-color: rgb(109, 100, 209);
  width: 100vh;
}

@media (max-width: 576px) {
  body {
    display: grid;
    grid-template-rows: 2fr 1fr 7fr 2fr 1fr;
    grid-template-areas:
      "header"
      "bar"
      "main"
      "select"
      "footer";
  }
  
  header {
    grid-area: header;
    width: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    font-size: large;
  }

  .search {
    grid-area: bar;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    width: 100vh;
  }

  .search h3{
    align-self: center;
    margin-bottom: 1%;
  }

  select {
    align-self: center;
    width: 70vh;
  }

  .card {
    padding: 5%;
    width: 60vh;
  }

  main {
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
    grid-area: main;
    background-color: aliceblue;
  }

  #card_mobile {
    display: flex;
    color: aliceblue;
    background-color: black;
    width: 100vh;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(109, 100, 209);
    margin: 7vh;
    margin-bottom: 2px;
  }

  #card_mobile button{
    color:aliceblue;
   padding: 2vh;
  }

  #card_desktop {
    display: none;
  }

  img {
    width: 60vh;
  }

  .card h2 {
    margin: 0;
  }

  .select_pag {
    display: flex;
    margin: 2vh;
    width: 95vh;
    grid-area: select;
    justify-content: center;
  }

  footer {
    grid-area: footer;
    display: flex;
    color:aliceblue;
    flex-direction: column;
    width: 100vh;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    margin-bottom: 0;
  }
  menu {
    padding-top: 3%;
    padding-right: 10%;
  }

  .menu_responsive {
    display: none;
  }

  .logo {
    padding-left: 3%;
    align-items: center;
    display: flex;
  }
}

@media (min-width: 576px) {
  body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
      "header nav"
      "header main"
      "footer main";
  }

  main {
    padding: 2%;
    margin: 2%;
    width: 90%;
    height: 100vh;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    row-gap: 5%;
    column-gap: 10px;
    border: solid 2px rgb(0, 0, 0);
  }

  img {
    width: 10rem;
  }
  header {
    grid-area: header;
    position: fixed;
    color: aliceblue;
    align-items: left;
    justify-content: start;
    height: 100vh;
    width: 14%;
  }

  menu {
    display: flex;
    align-items: start;
  }

  header h1 {
    font-size: medium;
  }
  ul {
    flex-direction: column;
    align-items: start;
  }
  li {
    display: flex;
    padding: 7%;
  }

  .search {
    display: grid;
    position: fixed;
    grid-area: nav;
    top:0; 
    left: 14%;
    padding-right: 45%;
    width: 10%;
    justify-content: right;
    align-items: center;
    padding-bottom: 2%;
  }

  .search h3 {
    margin-bottom: 0%;
  }

  #card_desktop {
    display: flex;
  }

  .card {
    display: flex;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(0, 0, 0);
  }

  #card_mobile {
    display: none;
  }

  .card h2 {
    font-size: medium;
    margin: 0;
  }

  .select_pag {
    display: none;
  }

  footer {
    position:fixed;
    color:aliceblue;
    width: 13%;
    bottom: 0;
    grid-area: footer;
    font-size: smaller;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer h3 {
    margin: 0;
  }

  #menu_mobile {
    display: none;
  }
  menu {
    padding: 0;
  }
  .menu_responsive {
    display: flex;
  }

  .logo {
    padding-left: 3%;
    align-items: center;
    display: flex;
  }
}
